body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    background-color: #f8f9f8;
}

header {
    background-color: #4e09a1;
    color: white; 
    padding: 10px;
    display: flex; 
    align-items: center;
}

.menu-icon {
    font-size: 30px; 
    cursor: pointer; 
    margin-right: 20px; 
}

.menu {
    height: 100%;
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: -250px; 
    background-color: #35096c; 
    overflow-x: hidden; 
    transition: 0.5s; 
}

.menu a {
    padding: 16px; 
    text-decoration: none; 
    font-size: 25px; 
    color: white; 
    display: block; 
    transition: 0.3s; 
}

.menu a:hover {
    background-color: #575757; 
}


#logoheader {
    width: 35px;
    margin-right: 13px;
}

.inicio {
    background-color: #35096c; /* Cor de fundo padrão */
    background-image: url("/sources/fundo_home-page.png"); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área da div */
    background-position: center; /* Centraliza a imagem */
    height: 630px; /* Altura desejada */
    position: relative; /* Para posicionar elementos internos */
    color: white; /* Cor do texto */
    display: flex; /* Para centralizar o conteúdo */
    flex-direction: column; /* Para empilhar o conteúdo verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}


.logo {
    height: 350px; 
    margin-top: 60px; 
}

.logo-text {
    font-family: "Montserrat", sans-serif;
    color: white; 
    font-size: 24px; 
    text-align: center;
    margin-top: 50px;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    display: none; 
}

.sobre-section {
    padding: 20px; 
    background-color: #f9f9f9; 
    color: #333; 
    text-align: center; 
    margin-bottom: 20px;
}

.sobre-section h2 {
    font-family: "Montserrat", sans-serif; 
    font-size: 28px; 
    margin-bottom: 15px; 
}

.sobre-section p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    max-width: 800px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.imagem-texto-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    display: flex;
    width: 100%;
}

.imagem-container {
    flex: 1;
    padding: 0;
}

.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 75px;
}

.texto-container {
    flex: 2;
    color: white;
    text-align: center; 
}

.titulo {
    margin-bottom: 20px;
}

.texto-container ul {
    font-size: 1.2em; 
    line-height: 1.5; 
    padding: 0; 
    list-style-type: none;
}

.texto-container ul li {
    text-align: center; 
    margin-bottom: 10px;
}

ul{
    margin-left: 50px;
}

.politicas {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #35096c;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}

.politicas h2 {
    color: #35096c;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center; 
}

.politicas p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 10px 0; 
    text-align: justify;
}

.footer {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background-color: #35096c; 
    color: white; 
}

.footer-left {
    display: flex; 
    flex: 1;
}

.footer-info, .footer-hr {
    margin: 0 5px; 
    flex: 1; 
}

.footer h4 {
    margin: 5px 0;
}

.footer p {
    margin: 3px 0;
}